<%# Update connection button on the profile page %>
<%= turbo_stream.replace dom_id(@other, :connection) do %>
  <%= render "shared/connection_button", actor: @other %>
<% end %>

<%# Dispatch contact:changed event %>
<%= turbo_stream.append "body" do %>
  <div data-controller="event-dispatcher" data-event-dispatcher-name-value="contact:changed"></div>
<% end %>
